.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 85vh;
    padding: 10px;
}

.main > h2 {
    border-bottom: 2px solid black;
    width: 80%;
    height: 100%;
    padding-bottom: 10px;
    flex: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.sectionContainer > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
}

.sectionContainer > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 0;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.sectionContainer > div > button {
    height: 50px;
}