.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 85px;
    border-bottom: 2px solid black;
    padding: 10px;
}

.menuBar>button, .pageSelect>button {
    height: auto;
}

.pageSelect {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 5px;
}