.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 91vh;
    padding: 10px;
}

.sectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.sessionList{
    display: flex;
    gap: 5px;
}
