.saleWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    width: 25%;
    height: 100%;
}