.saleWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 91vh;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    width: 25%;
    height: 100%;
}

.info {
    width: 100%;
    align-content: center;
    font-size: 2.5rem;
}