.controlContainer {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
}

.decrement{
    grid-column: 1;
    grid-row: 1;
}

.increment {
    grid-column: 2;
    grid-row: 1;
}

.modify {
    grid-column: 3;
    grid-row: 1;
}

.clear {
    position: relative;
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
}

.clear::before {
    content: "";
    border-radius: 10px;
    position: absolute;
    background-color: #811103;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
}

.pressed:active::before {
    height: 100%;
    transition: height 1.2s linear;
}

.controlContainer>button {
    width: auto;
    height: auto;
    font-size: 1rem;
}

.controlContainer>button.checkout {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 1.5rem;
}