.controlContainer {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
}

.decrement{
    grid-column: 1;
    grid-row: 1;
}

.increment {
    grid-column: 2;
    grid-row: 1;
}

.modify {
    grid-column: 3;
    grid-row: 1;
}

.controlContainer>button {
    width: auto;
    height: auto;
    font-size: 1rem;
}

.controlContainer>button.checkout {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 1.5rem;
}