.modal {
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: rgba(71, 71, 71, 0.9);
    padding: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.end {
    position: relative;
    width: 110px;
    font-size: .75rem;
    z-index: 1
}

.end::before {
    content: "";
    border-radius: 10px;
    position: absolute;
    background-color: #811103;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 0;
}

.end.pressed:before {
    height: 100%;
    transition: height .75s linear;
}