.card {
    display: flex;
    background-color: #3b3b3b;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.card > div {
    display: flex;
    align-items: center;
}

.card > button {
    height: 35px;
    width: auto;
    margin-left: auto;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}