.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal {
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: rgba(71, 71, 71, 0.9);
    padding: 20px;
}